

body {
background-color: darkgrey;
}

h1 {
  font-size: 20rem;
font-family: monospace;
  text-align: center;
}

div {
  align-items: center;
  text-align: center;
  display: block;
}

p {
  text-align: center;
  line-height: 0.5;
}
